@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #ef38f5;
    width: 50%;
    display: block;
    margin : auto;
    @apply  text-white rounded-2xl;
}

button:focus {
  background-color: #58f538;
  width: 20%;
  display: block;
  margin : auto;
  @apply  text-white rounded-2xl;
}



.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img {
    border-radius: 4%;
  }